.ant-modal-search-component {
  .display-flex {
    display: flex !important;
  }
  .serach-form-row {
    float: left;
    width: calc(~'(100% - 160px)/3');
  }
  .serach-form-row2 {
    float: left;
    width: calc(~'((100% - 160px)/3)*2');
  }
  .serach-form-row3 {
    float: left;
    width: calc(~'100% - 160px');
  }
  .serach-form-row2-button {
    width: auto !important;
    flex-direction: column;
    margin-top: 6px;
    margin-left: 20px;
  }
}
